.start{
  color: #4c6a86;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  h2{
    font-size: 36px;
    text-align: center;
    line-height: 40px;
  }
  .modes{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
  }
  .game-mode{
    width: 150px;
    p{
      font-weight: 100;
      font-size: 14px;
      margin-top: 10px;
      text-align: center;
      color: #aaa;
    }
  }
}
.big-button{
  display: block;
  margin: 0 auto;
  padding: 3px 10px;
  border: 1px solid #e2e9ea;
  border-radius: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 600;
  background: white;
  color: #8f8f8f;
  cursor: pointer;
  outline: none;
  &.active{
    background: #38bbd4;
    color: white;
  }
}