.grid{
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;
  justify-content: space-between;
  width: 304px;
  height: 300px;
  background-color: #d9d9d9;
  @media(max-width: 768px){
    width: 205px;
    height: 201px;
  }
}