.main-container{
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 600px;
  border: 1px solid #95dae7;
  box-shadow: 0 0 100px #95dae780;
  overflow: hidden;
  @media(max-width: 768px){
    width: 100%;
    border: none;
    box-shadow: none;
  }
}
.content{
  margin: 20px 10px;
  @media(max-width: 768px){
    margin: 20px auto 20px auto;
    width: 70%;
  }
  @media(max-width: 450px){
    box-sizing: border-box;
    margin: 0;
    padding: 20px 10px;
    width: 100%;
  }
}