.cell{
  width: 100px;
  height: 100px;
  background: white;
  border: none;
  outline: none;
  font-size: 45px;
  @media(max-width: 768px){
    width: 67px;
    height: 67px;
  }
  &:nth-child(4), &:nth-child(5), &:nth-child(6){
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
  }
  &:hover{
    background: #ecfcff;
    cursor: pointer;
    &.x, &.y{
      background: white;
      cursor: default;
    }
  }
}