.icon-wrapper{
  color: white;
  height: 20px;
  width: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a4b5b8;
  border-radius: 100%;
}
.custom-button{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid #e2e9ea;
  background: white;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}