.game-over{
  margin: 20px;
  @media(max-width: 450px){
    margin: 0 10px;
  }
}
.with-winner{
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    font-size: 60px;
  }
}
.label{
  color: #4c6a86;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  margin-left: 20px;
  font-size: 50px;
  @media(max-width: 768px){
    margin: 0;
    font-size: 36px;
    text-align: center;
  }
}