.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #a4b5b861;
  box-shadow: 0 0 16px 1px #a4b5b8;
  h1{
    font-family: 'Nunito', sans-serif;
    color: #4a6884;
    font-size: 30px;
    font-weight: bold;
    span:nth-child(n){
      color: #3989d4;
    }
    span:nth-child(2n){
      color: #38bcd4;
    }
  }
}
.control-btn{
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.controls{
  display: flex;
}